body{
    font-family: 'oppins', sans-serif;
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}
.main h1{
    font-size: 50px;
    color: orange;
}
.font-color{
    font-size: 20px;
    color: white;
}
.background-img{
    background-image: url(image/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
}
.main{
    margin: 40px;
    width: 40%;
}
.link-button{
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 1%;
    font-size: 30px;
    background-image: linear-gradient(orange, tomato);
}
.balance{
    
    text-align: center;
    padding: 70px;
}
.text-item{
    color: #acacac;
    width: 100%;
    font-size: 20px;
}
.donate-item{
   display: flex;
   width: 80%;
   text-align: center;
   padding-left: 3%;
  
}
.donate-ammount{
    color: #595050;
    text-align: center;
    background: #fdf3f3;
    width: 200px;
    padding: 4%;
    width: 50%;
    margin-left: 20px;
    margin-right: 40px;
}
.border-item{
    color: #e85f5f;
    background: #d9b1b1;
    width: 200px;
    padding: 4%;
    border: 3px solid #ee6b6b;
    border-radius: 5px;
}
.other-balance{
    text-align: center;
    color: #f6d7d7;
    font-size: 18px;
    border-bottom: 1px solid #857878;
    padding-right: 50px;
    padding: 10px;
    width: 90%;
}
.top-banar{
    display: flex;
    font-size: 20px;
}
.helf-width{
    font-size: 20px;
    width: 33%;
    padding: 3%;
    margin: 5%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px gray;
}
.helf-width p{
    color: #494747;
}
#background{
    background: #e4dddd;
}
#background-center{
    background-color: #c78b6c;
}
#background-right{
    background-color: #edd2b0;
}
.marsin-img{
    margin: 8%;
    border-radius: 10px;
}
.width-half{
    width: 50%;
    padding: 8%;
}
#need-us{
    padding: 10%;
    margin-left: 0%;
}
.width-half p{
    color: #494747;
}
